.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1890ff;
}

.modalContainer {
    width: 240vh;
    height: 100vh;
    background-color: #00000026;
    position: fixed;
    top: 40;
    .cardModal {
        background-color: #f0f0f0;
    }
}