.table {
    height: auto;
    font-size: 20px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .details {
        cursor: pointer;
    }
    
    .check{
        cursor: pointer;
        margin-left: 10px;
        font-size: 20px;
    }
}