.loginContainer {
    background-color: #d7efff;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    background-color: #cccccc17;
    border-radius: 15px;
}